div {
    border: 2px solid aquamarine;
}

h1 {
    font-size: 48px;
    font-weight:bolder;
    margin-bottom: 2px;

}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flexContainer {
    display: block;
}

.headerBackground{
    background-color: #1f2937;
}

.header {
    height: 50px;
    display: flex;
    flex:1 1 auto;
    color: #f9faf8;
    width: 80%;
    margin: auto;

}

.headerLinks {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 20px;
}

.headerLogo{
    flex: 1;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-top: 7px;
}

.header2 {
    height: 300px;
    display: flex;
    color: #f9faf8;
    flex: 1 1 auto;
    width: 80%;
    margin: auto;
}

.fakePicture {
    width: 400px;
    height: 200px;
    background-color: #f9faf8;

}

.headerText{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    padding-left: 25%;
}


.headerPicture{
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    width: 50%;
    
}

.rowImagesBackground {
    background-color: #f9faf8;
}

    .rowImages {
        height: 300px;
        width: 80%;
        margin: auto;
}
    .someRandomInformation{
        display: block;
        text-align: center;
        height: 50px;
        font-weight: bolder;
        font-size: 36px;
        margin-top: 10px;

    }
    .squares{
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        gap: 45px;
    }
    .square1,
    .square2,
    .square3,
    .square4{
    border: 3px solid rgb(0, 139, 182);
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.squaresText {
    font-size: 12px;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    gap: 30px;
    margin-top: -15px;
    text-align: center;
}
.quoteSpace {
    height: 300px;
}

.signUpSpace {
    height: 300px;
}

.footer {
    height: 100px;
}


